[submodule "config/nvim/pack/p0/start/lightline.vim"]
	path = config/nvim/pack/p0/start/lightline.vim
	url = https://github.com/itchyny/lightline.vim.git
[submodule "config/nvim/pack/p0/start/vim-fugitive"]
	path = config/nvim/pack/p0/start/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "config/nvim/pack/p0/start/fzf.vim"]
	path = config/nvim/pack/p0/start/fzf.vim
	url = https://github.com/junegunn/fzf.vim.git
[submodule "config/nvim/pack/p0/start/coc.nvim"]
	path = config/nvim/pack/p0/start/coc.nvim
	url = https://github.com/neoclide/coc.nvim.git
[submodule "config/nvim/pack/p0/start/defx.nvim"]
	path = config/nvim/pack/p0/start/defx.nvim
	url = https://github.com/Shougo/defx.nvim.git
[submodule "config/nvim/pack/p0/start/fzf"]
	path = config/nvim/pack/p0/start/fzf
	url = https://github.com/junegunn/fzf
[submodule "config/nvim/pack/p0/start/pt.vim"]
	path = config/nvim/pack/p0/start/pt.vim
	url = https://github.com/nazo/pt.vim.git
[submodule "config/nvim/pack/p0/start/vim-snippets"]
	path = config/nvim/pack/p0/start/vim-snippets
	url = https://github.com/honza/vim-snippets.git
[submodule "config/nvim/pack/p0/start/vimproc.vim"]
	path = config/nvim/pack/p0/start/vimproc.vim
	url = https://github.com/Shougo/vimproc.vim.git
[submodule "config/nvim/pack/p0/start/vim-quickrun"]
	path = config/nvim/pack/p0/start/vim-quickrun
	url = https://github.com/thinca/vim-quickrun.git
[submodule "config/nvim/after/plugin/vimproc.vim"]
	path = config/nvim/after/plugin/vimproc.vim
	url = https://github.com/Shougo/vimproc.vim.git
