# Snippets for GO extra

priority -10

# echo handler
snippet echoh "echo handler"
func(c echo.Context) error {
}
endsnippet

# usecase
snippet uc "usecase"
type ${1:usecase}UseCase struct {
}

func (u $1) Execute(${2:args}) {
}
endsnippet

# gorm model
snippet gormt "gorm model"
func (${1}) TableName() string {
	return "${2:table_name}"
}
endsnippet


# gen enum
snippet enumgen "enum generate"
//go:generate 
endsnippet

